.title{
    color: white;
    width: max-content;
    border-radius: 4px;
    /* background: rgba(72, 63, 252, 0.199); */
    
    }
.title > h2 {
    margin: 20px;
}
.line {
    width: 80%;
}
/* hr {
    /* border: rgba(73,63,252,1) solid 1px;
    background: rgba(72, 63, 252, 0.199); */